[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
mido = "*"
pygame = "*"
matplotlib = "*"
numpy = "*"
pygetwindow = "*"
screeninfo = "*"

[dev-packages]

[requires]
python_version = "3.13"
